version: '3.8'
services:
  web:
    build: .
    ports:
      - "4444:4444"
    volumes:
      - .:/app

  archiver:
    build:
      context: .
      dockerfile: archiver.Dockerfile
    volumes:
      - .:/app
